@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

.font-caramel{
  font-family: 'Caramel', 'cursive';
}

.font-nunito{
  font-family: 'Nunito Sans', sans-serif;
}

.font-caveat{
  font-family: 'Caveat', 'cursive';
}

#map {
  height: 400px;
}

#NavDetail>.active{
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-decoration-color: yellow;
  background-color: white;
  color: black !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;