@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lucky-guy {
  font-family: "Luckiest Guy", "cursive";
}
